.tabs-header {
  margin: auto;
  text-align: center;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-top: 20px;
}

.tabs-button {
  display: flex;
  flex-direction: column;
}

.tab-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.active-button {
  border-left: 3px solid #0000ff;
}
